cheverjohn.me/public/feed.xml
cheverjohn.me/test-results/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cheverjohn.me/node_modules
cheverjohn.me/.pnp
cheverjohn.me/.pnp.js

# testing
cheverjohn.me/coverage

# next.js
cheverjohn.me/.next/
cheverjohn.me/out/

# production
cheverjohn.me/build

# misc
cheverjohn.me/.DS_Store

# debug
cheverjohn.me/npm-debug.log*
cheverjohn.me/yarn-debug.log*
cheverjohn.me/yarn-error.log*

# local env files
cheverjohn.me/.env.local
cheverjohn.me/.env.development.local
cheverjohn.me/.env.test.local
cheverjohn.me/.env.production.local
